<div class="container col-xs-12">
	<div class="row color-content-container" ng-if="1">
		<div class="color-container col-sm-3">
			<a href="">
				<div class="color-circle green"></div>
				<div class="color-name">Green</div>
			</a>
		</div>
		<div class="color-container col-sm-3">
			<a href="">
				<div class="color-circle yellow"></div>
				<div class="color-name">Yellow</div>
			</a>
		</div>
		<div class="color-container col-sm-3">
			<a href="">
				<div class="color-circle red"></div>
				<div class="color-name">Red</div>
			</a>
		</div>
		<div class="color-container col-sm-3">
			<a href="">
				<div class="color-circle other"></div>
				<div class="color-name">Other</div>
			</a>
		</div>
	</div>
	<div class="description-container" ng-if="0">
		<form>
			<textarea rows="4" cols="50"></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>