body {
	background-color: #E7E7E7;
}

.content-container {
	height:50vh;
	overflow: hidden;
	padding: 0px;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 2px 27px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 27px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 27px -6px rgba(0,0,0,0.75);
}

// .flex-container {
// 	display: flex;
// 	align-items: center;
// 	height:50vh;
// }

a, a:active, a:focus {
	border-bottom: solid 2px #E7E7E7;
	text-decoration: none;
}

.active {
	text-decoration: none;
	border-bottom: solid 2px black;
}

a:hover {
	text-decoration: none;
	border-bottom: solid 2px black;
}

.glyphicon-styles {
	font-size: 20px;
	margin: 1% 3%;
	padding: 0 2%;
}

.glyphicon-container {
	display: flex;
	justify-content: center;
}

.color-name, .color-circle {
	text-align: center;
}

.color-circle {
	border-radius: 50%;
	margin: 0 auto;
	width: auto;
	height:50px;
	width:50px;
	background-color: black;
}
.color-container {
	width: 100px;
	width: auto;
}

.green {
	background-color:#4ABDAC;
}

.yellow {
	background-color:#F7B733;
}

.red {
	background-color:#FC4A1A;
}

.other { 
	background-color:#DFDCE3;
}

.color-content-container {
	
}

#p-styles {
	font-size: 13px;
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif!important;
	line-height: 20px;
	font-weight: 500;
	margin: 0;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	.content-container {
		background-color: red;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
	.content-container {
		background-color: red;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
	.content-container {
		background-color: red;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
	.content-container {
		background-color: red;
	}
}